body {
	font-size: 16px;
	color: #fff;
	background: #8B0000;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #FFA500;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url(../images/foodlogo.png) no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /*restaurant name*/
	font-family: 'Lora', serif;
	color: #9ACD32;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p {
	color: #000;
	font-size: 0.7em;
	margin-top: 15px;
	font-style: italic;
}
.navbar-brand p span {
	vertical-align: middle;
}

#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color:  #8B0000;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
}
#nav-list a span {
	font-size: 1.8em;
}
#phone {    
	margin-top: 5px;
}
#phone a { /*phone number*/
	text-align: right;
	padding-bottom: 0;
}
#phone div { /*we deliver*/
	color: #9ACD32;
	text-align: right;
	text-shadow: 1px 1px 1px #222;
	padding-right: 15px;s
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar { /*this stylizes the button with color and border*/
	border:  1px solid #8B0000;
}
.navbar-header button.navbar-toggle {
	clear: both;
}