body {
	font-size: 16px;
	color: #fff;
	background: #8B0000;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #FFA500;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url(../images/logo.png);
	width: 150px;
	height: 150px;

}